.simplifier-dashboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vw;
}

.simplifier-dashboard form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
}

.spinner{
  border: 1vw solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { 
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
